$color-primary:rgb(0, 0, 0);
$color-secondary:red;
$colors:(
    'primary':#326dee,
    'secondary':#ee32a3,
    'error':red,
    'warning':rgb(155, 155, 74),
    'sucess':green,//triter alll the color but not hte black and white
)
